@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?9mnksu');
  src:  url('fonts/icomoon.eot?9mnksu#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?9mnksu') format('truetype'),
    url('fonts/icomoon.woff?9mnksu') format('woff'),
    url('fonts/icomoon.svg?9mnksu#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-copyright:before {
  content: "\eb8f";
}
.icon-facebook:before {
  content: "\eb8c";
}
.icon-instagram:before {
  content: "\eb8d";
}
.icon-twitter:before {
  content: "\eb8e";
}
.icon-brand:before {
  content: "\ea5e";
  color: #0099e5;
}
.icon-brand2:before {
  content: "\ea5f";
  color: #044a75;
}
.icon-brand3:before {
  content: "\ea60";
  color: #0085ca;
}
.icon-brand4:before {
  content: "\ea61";
  color: #ff2d55;
}
.icon-brand5:before {
  content: "\ea62";
  color: #ff5a5f;
}
.icon-brand6:before {
  content: "\ea63";
  color: #f90;
}
.icon-brand7:before {
  content: "\ea64";
  color: #2e77bc;
}
.icon-brand8:before {
  content: "\ea65";
  color: #a4c639;
}
.icon-brand9:before {
  content: "\ea66";
  color: #999;
}
.icon-brand10:before {
  content: "\ea67";
}
.icon-brand11:before {
  content: "\ea68";
}
.icon-brand12:before {
  content: "\ea69";
  color: #eb5424;
}
.icon-brand13:before {
  content: "\ea6a";
  color: #7d8084;
}
.icon-brand14:before {
  content: "\ea6b";
  color: #2319dc;
}
.icon-brand15:before {
  content: "\ea6c";
  color: #408294;
}
.icon-brand16:before {
  content: "\ea6d";
  color: #6c6;
}
.icon-brand17:before {
  content: "\ea6e";
  color: #00a3e0;
}
.icon-brand18:before {
  content: "\ea6f";
  color: #de484a;
}
.icon-brand19:before {
  content: "\ea70";
  color: #1769ff;
}
.icon-brand20:before {
  content: "\ea71";
}
.icon-brand21:before {
  content: "\ea72";
  color: #008373;
}
.icon-brand22:before {
  content: "\ea73";
  color: #205081;
}
.icon-brand23:before {
  content: "\ea74";
  color: #f7931a;
}
.icon-brand24:before {
  content: "\ea75";
  color: #ee6123;
}
.icon-brand25:before {
  content: "\ea76";
  color: #f38936;
}
.icon-brand26:before {
  content: "\ea77";
  color: #563d7c;
}
.icon-brand27:before {
  content: "\ea78";
  color: #0aa0ff;
}
.icon-brand28:before {
  content: "\ea79";
}
.icon-brand29:before {
  content: "\ea7a";
  color: #e32;
}
.icon-brand30:before {
  content: "\ea7b";
  color: #d33c43;
}
.icon-brand31:before {
  content: "\ea7c";
  color: #19a9e5;
}
.icon-brand32:before {
  content: "\ea7d";
}
.icon-brand33:before {
  content: "\ea7e";
  color: #204056;
}
.icon-brand34:before {
  content: "\ea7f";
  color: #1f8acb;
}
.icon-brand35:before {
  content: "\ea80";
}
.icon-brand36:before {
  content: "\ea81";
}
.icon-brand37:before {
  content: "\ea82";
  color: #3e8dcc;
}
.icon-brand38:before {
  content: "\ea83";
  color: #4cadc0;
}
.icon-brand39:before {
  content: "\ea84";
  color: #4574e0;
}
.icon-brand40:before {
  content: "\ea85";
  color: #00aaef;
}
.icon-brand41:before {
  content: "\ea86";
  color: #414959;
}
.icon-brand42:before {
  content: "\ea87";
  color: #00a1cc;
}
.icon-brand43:before {
  content: "\ea88";
  color: #757575;
}
.icon-brand44:before {
  content: "\ea89";
  color: #1572b6;
}
.icon-brand45:before {
  content: "\ea8a";
  color: #f43059;
}
.icon-brand46:before {
  content: "\ea8b";
  color: #0066dc;
}
.icon-brand47:before {
  content: "\ea8c";
  color: #00c7f2;
}
.icon-brand48:before {
  content: "\ea8d";
  color: #39f;
}
.icon-brand49:before {
  content: "\ea8e";
  color: #2d72d9;
}
.icon-brand50:before {
  content: "\ea8f";
  color: #05cc47;
}
.icon-brand51:before {
  content: "\ea90";
}
.icon-brand52:before {
  content: "\ea91";
}
.icon-brand53:before {
  content: "\ea92";
  color: #0080ff;
}
.icon-brand54:before {
  content: "\ea93";
  color: #7289da;
}
.icon-brand55:before {
  content: "\ea94";
  color: #ff6000;
}
.icon-brand56:before {
  content: "\ea95";
  color: #2e9fff;
}
.icon-brand57:before {
  content: "\ea96";
  color: #1488c6;
}
.icon-brand58:before {
  content: "\ea97";
  color: #f60;
}
.icon-brand59:before {
  content: "\ea98";
  color: #ea4c89;
}
.icon-brand60:before {
  content: "\ea99";
  color: #007ee5;
}
.icon-brand61:before {
  content: "\ea9a";
  color: #0678be;
}
.icon-brand62:before {
  content: "\ea9b";
  color: #e53238;
}
.icon-brand63:before {
  content: "\ea9c";
}
.icon-brand64:before {
  content: "\ea9d";
  color: #72be50;
}
.icon-brand65:before {
  content: "\ea9e";
}
.icon-brand66:before {
  content: "\ea9f";
  color: #f45800;
}
.icon-brand67:before {
  content: "\eaa0";
  color: #f6682f;
}
.icon-brand68:before {
  content: "\eaa1";
  color: #5ab552;
}
.icon-brand69:before {
  content: "\eaa2";
  color: #2dbe60;
}
.icon-brand70:before {
  content: "\eaa3";
  color: #fa4b32;
}
.icon-brand71:before {
  content: "\eaa4";
  color: #3b5998;
}
.icon-brand72:before {
  content: "\eaa5";
  color: #6cc655;
}
.icon-brand73:before {
  content: "\eaa6";
  color: #00b0b9;
}
.icon-brand74:before {
  content: "\eaa7";
  color: #0063dc;
}
.icon-brand75:before {
  content: "\eaa8";
  color: #e12828;
}
.icon-brand76:before {
  content: "\eaa9";
  color: #f94877;
}
.icon-brand77:before {
  content: "\eaaa";
  color: #060;
}
.icon-brand78:before {
  content: "\eaab";
  color: #007cc3;
}
.icon-brand79:before {
  content: "\eaac";
  color: #396;
}
.icon-brand80:before {
  content: "\eaad";
  color: #8cc63f;
}
.icon-brand81:before {
  content: "\eaae";
  color: #467126;
}
.icon-brand82:before {
  content: "\eaaf";
  color: #718087;
}
.icon-brand83:before {
  content: "\eab0";
  color: #f14e32;
}
.icon-brand84:before {
  content: "\eab1";
}
.icon-brand85:before {
  content: "\eab2";
  color: #e24329;
}
.icon-brand86:before {
  content: "\eab3";
  color: #ff0064;
}
.icon-brand87:before {
  content: "\eab4";
  color: #7cb228;
}
.icon-brand88:before {
  content: "\eab5";
  color: #d14836;
}
.icon-brand89:before {
  content: "\eab6";
  color: #fbbf00;
}
.icon-brand90:before {
  content: "\eab7";
  color: #630;
}
.icon-brand91:before {
  content: "\eab8";
  color: #4285f4;
}
.icon-brand92:before {
  content: "\eab9";
  color: #ffc107;
}
.icon-brand93:before {
  content: "\eaba";
  color: #4386fc;
}
.icon-brand94:before {
  content: "\eabb";
  color: #0c9d58;
}
.icon-brand95:before {
  content: "\eabc";
  color: #607d8b;
}
.icon-brand96:before {
  content: "\eabd";
  color: #dc4e41;
}
.icon-brand97:before {
  content: "\eabe";
  color: #005ea5;
}
.icon-brand98:before {
  content: "\eabf";
  color: #630;
}
.icon-brand99:before {
  content: "\eac0";
}
.icon-brand100:before {
  content: "\eac1";
  color: #1e8cbe;
}
.icon-brand101:before {
  content: "\eac2";
  color: #da4648;
}
.icon-brand102:before {
  content: "\eac3";
  color: #72ef36;
}
.icon-brand103:before {
  content: "\eac4";
  color: #2ec866;
}
.icon-brand104:before {
  content: "\eac5";
  color: #1bacf7;
}
.icon-brand105:before {
  content: "\eac6";
  color: #00a4de;
}
.icon-brand106:before {
  content: "\eac7";
  color: #430098;
}
.icon-brand107:before {
  content: "\eac8";
  color: #205281;
}
.icon-brand108:before {
  content: "\eac9";
}
.icon-brand109:before {
  content: "\eaca";
  color: #7ac142;
}
.icon-brand110:before {
  content: "\eacb";
  color: #e34f26;
}
.icon-brand111:before {
  content: "\eacc";
  color: #6a3;
}
.icon-brand112:before {
  content: "\eacd";
  color: #0071ce;
}
.icon-brand113:before {
  content: "\eace";
  color: #e6b91e;
}
.icon-brand114:before {
  content: "\eacf";
  color: #43b02a;
}
.icon-brand115:before {
  content: "\ead0";
  color: #e4405f;
}
.icon-brand116:before {
  content: "\ead1";
}
.icon-brand117:before {
  content: "\ead2";
  color: #1f8ded;
}
.icon-brand118:before {
  content: "\ead3";
  color: #f36;
}
.icon-brand119:before {
  content: "\ead4";
  color: #f7df1e;
}
.icon-brand120:before {
  content: "\ead5";
  color: #c00;
}
.icon-brand121:before {
  content: "\ead6";
  color: #d24939;
}
.icon-brand122:before {
  content: "\ead7";
}
.icon-brand123:before {
  content: "\ead8";
  color: #5091cd;
}
.icon-brand124:before {
  content: "\ead9";
  color: #4679a4;
}
.icon-brand125:before {
  content: "\eada";
}
.icon-brand126:before {
  content: "\eadb";
  color: #ad29b6;
}
.icon-brand127:before {
  content: "\eadc";
  color: #20beff;
}
.icon-brand128:before {
  content: "\eadd";
  color: #9db63b;
}
.icon-brand129:before {
  content: "\eade";
  color: #2bde73;
}
.icon-brand130:before {
  content: "\eadf";
  color: #82bc23;
}
.icon-brand131:before {
  content: "\eae0";
  color: #ff0100;
}
.icon-brand132:before {
  content: "\eae1";
  color: #e44600;
}
.icon-brand133:before {
  content: "\eae2";
  color: #00b057;
}
.icon-brand134:before {
  content: "\eae3";
  color: #3c80ca;
}
.icon-brand135:before {
  content: "\eae4";
  color: #e74430;
}
.icon-brand136:before {
  content: "\eae5";
  color: #d51007;
}
.icon-brand137:before {
  content: "\eae6";
  color: #f8c300;
}
.icon-brand138:before {
  content: "\eae7";
  color: #00c300;
}
.icon-brand139:before {
  content: "\eae8";
  color: #0077b5;
}
.icon-brand140:before {
  content: "\eae9";
  color: #009bee;
}
.icon-brand141:before {
  content: "\eaea";
  color: #00b0ea;
}
.icon-brand142:before {
  content: "\eaeb";
  color: #cf202e;
}
.icon-brand143:before {
  content: "\eaec";
  color: #e11a2b;
}
.icon-brand144:before {
  content: "\eaed";
  color: #ee672f;
}
.icon-brand145:before {
  content: "\eaee";
  color: #2c9ab7;
}
.icon-brand146:before {
  content: "\eaef";
  color: #ff1e0d;
}
.icon-brand147:before {
  content: "\eaf0";
  color: #eb001b;
}
.icon-brand148:before {
  content: "\eaf1";
}
.icon-brand149:before {
  content: "\eaf2";
}
.icon-brand150:before {
  content: "\eaf3";
  color: #00ab6b;
}
.icon-brand151:before {
  content: "\eaf4";
  color: #e2373c;
}
.icon-brand152:before {
  content: "\eaf5";
  color: #0084ff;
}
.icon-brand153:before {
  content: "\eaf6";
  color: #f00;
}
.icon-brand154:before {
  content: "\eaf7";
  color: #666;
}
.icon-brand155:before {
  content: "\eaf8";
  color: #ba141a;
}
.icon-brand156:before {
  content: "\eaf9";
  color: #217346;
}
.icon-brand157:before {
  content: "\eafa";
  color: #80397b;
}
.icon-brand158:before {
  content: "\eafb";
  color: #0072c6;
}
.icon-brand159:before {
  content: "\eafc";
  color: #d24726;
}
.icon-brand160:before {
  content: "\eafd";
  color: #2b579a;
}
.icon-brand161:before {
  content: "\eafe";
  color: #62b74a;
}
.icon-brand162:before {
  content: "\eaff";
  color: #3abfe6;
}
.icon-brand163:before {
  content: "\eb00";
  color: #314359;
}
.icon-brand164:before {
  content: "\eb01";
  color: #f60;
}
.icon-brand165:before {
  content: "\eb02";
  color: #ffc619;
}
.icon-brand166:before {
  content: "\eb03";
  color: #fdb22a;
}
.icon-brand167:before {
  content: "\eb04";
  color: #00945e;
}
.icon-brand168:before {
  content: "\eb05";
}
.icon-brand169:before {
  content: "\eb06";
  color: #e50914;
}
.icon-brand170:before {
  content: "\eb07";
  color: #8f8f8f;
}
.icon-brand171:before {
  content: "\eb08";
}
.icon-brand172:before {
  content: "\eb09";
}
.icon-brand173:before {
  content: "\eb0a";
  color: #f4731c;
}
.icon-brand174:before {
  content: "\eb0b";
  color: #094ab2;
}
.icon-brand175:before {
  content: "\eb0c";
  color: #ff1b2d;
}
.icon-brand176:before {
  content: "\eb0d";
  color: #f56c2d;
}
.icon-brand177:before {
  content: "\eb0e";
  color: #fc7e0f;
}
.icon-brand178:before {
  content: "\eb0f";
  color: #123f6d;
}
.icon-brand179:before {
  content: "\eb10";
}
.icon-brand180:before {
  content: "\eb11";
  color: #e6461a;
}
.icon-brand181:before {
  content: "\eb12";
  color: #00457c;
}
.icon-brand182:before {
  content: "\eb13";
  color: #40a4c4;
}
.icon-brand183:before {
  content: "\eb14";
}
.icon-brand184:before {
  content: "\eb15";
  color: #fff000;
}
.icon-brand185:before {
  content: "\eb16";
  color: #00b1ab;
}
.icon-brand186:before {
  content: "\eb17";
  color: #bd081c;
}
.icon-brand187:before {
  content: "\eb18";
  color: #0085de;
}
.icon-brand188:before {
  content: "\eb19";
  color: #c0379a;
}
.icon-brand189:before {
  content: "\eb1a";
  color: #039;
}
.icon-brand190:before {
  content: "\eb1b";
  color: #e9443d;
}
.icon-brand191:before {
  content: "\eb1c";
  color: #ef3f56;
}
.icon-brand192:before {
  content: "\eb1d";
  color: #93c;
}
.icon-brand193:before {
  content: "\eb1e";
  color: #ef145f;
}
.icon-brand194:before {
  content: "\eb1f";
  color: #da552f;
}
.icon-brand195:before {
  content: "\eb20";
  color: #34a7c1;
}
.icon-brand196:before {
  content: "\eb21";
  color: #9497ce;
}
.icon-brand197:before {
  content: "\eb22";
  color: #c50000;
}
.icon-brand198:before {
  content: "\eb23";
  color: #b92b27;
}
.icon-brand199:before {
  content: "\eb24";
  color: #c7053d;
}
.icon-brand200:before {
  content: "\eb25";
  color: #008fd5;
}
.icon-brand201:before {
  content: "\eb26";
  color: #00d8ff;
}
.icon-brand202:before {
  content: "\eb27";
  color: #900;
}
.icon-brand203:before {
  content: "\eb28";
  color: #8ca1af;
}
.icon-brand204:before {
  content: "\eb29";
  color: #ff4500;
}
.icon-brand205:before {
  content: "\eb2a";
  color: #e43526;
}
.icon-brand206:before {
  content: "\eb2b";
  color: #ffa500;
}
.icon-brand207:before {
  content: "\eb2c";
  color: #cc342d;
}
.icon-brand208:before {
  content: "\eb2d";
  color: #2dc9d7;
}
.icon-brand209:before {
  content: "\eb2e";
  color: #c69;
}
.icon-brand210:before {
  content: "\eb2f";
  color: #ec4047;
}
.icon-brand211:before {
  content: "\eb30";
  color: #1a7bba;
}
.icon-brand212:before {
  content: "\eb31";
  color: #0089cf;
}
.icon-brand213:before {
  content: "\eb32";
  color: #21b352;
}
.icon-brand214:before {
  content: "\eb33";
}
.icon-brand215:before {
  content: "\eb34";
  color: #fb4226;
}
.icon-brand216:before {
  content: "\eb35";
  color: #e7282d;
}
.icon-brand217:before {
  content: "\eb36";
  color: #7ab55c;
}
.icon-brand218:before {
  content: "\eb37";
}
.icon-brand219:before {
  content: "\eb38";
  color: #e6162d;
}
.icon-brand220:before {
  content: "\eb39";
  color: #258aaf;
}
.icon-brand221:before {
  content: "\eb3a";
  color: #2fcea0;
}
.icon-brand222:before {
  content: "\eb3b";
  color: #00aff0;
}
.icon-brand223:before {
  content: "\eb3c";
  color: #56b68b;
}
.icon-brand224:before {
  content: "\eb3d";
  color: #026664;
}
.icon-brand225:before {
  content: "\eb3e";
  color: #e4637c;
}
.icon-brand226:before {
  content: "\eb3f";
  color: #e85c33;
}
.icon-brand227:before {
  content: "\eb40";
  color: #fffc00;
}
.icon-brand228:before {
  content: "\eb41";
  color: #f80046;
}
.icon-brand229:before {
  content: "\eb42";
  color: #f30;
}
.icon-brand230:before {
  content: "\eb43";
  color: #fa6423;
}
.icon-brand231:before {
  content: "\eb44";
  color: #396;
}
.icon-brand232:before {
  content: "\eb45";
  color: #1ed760;
}
.icon-brand233:before {
  content: "\eb46";
  color: #352a71;
}
.icon-brand234:before {
  content: "\eb47";
  color: #f5c300;
}
.icon-brand235:before {
  content: "\eb48";
}
.icon-brand236:before {
  content: "\eb49";
  color: #1e5397;
}
.icon-brand237:before {
  content: "\eb4a";
  color: #fe7a16;
}
.icon-brand238:before {
  content: "\eb4b";
}
.icon-brand239:before {
  content: "\eb4c";
}
.icon-brand240:before {
  content: "\eb4d";
  color: #4ba2f2;
}
.icon-brand241:before {
  content: "\eb4e";
}
.icon-brand242:before {
  content: "\eb4f";
  color: #3a98d9;
}
.icon-brand243:before {
  content: "\eb50";
  color: #008cdd;
}
.icon-brand244:before {
  content: "\eb51";
  color: #003168;
}
.icon-brand245:before {
  content: "\eb52";
  color: #eb4924;
}
.icon-brand246:before {
  content: "\eb53";
}
.icon-brand247:before {
  content: "\eb54";
  color: #809cc9;
}
.icon-brand248:before {
  content: "\eb55";
  color: #2eace3;
}
.icon-brand249:before {
  content: "\eb56";
  color: #fbb631;
}
.icon-brand250:before {
  content: "\eb57";
  color: #e62b1e;
}
.icon-brand251:before {
  content: "\eb58";
  color: #39ace6;
}
.icon-brand252:before {
  content: "\eb59";
  color: #2ca5e0;
}
.icon-brand253:before {
  content: "\eb5a";
  color: #12b7f5;
}
.icon-brand254:before {
  content: "\eb5b";
  color: #c00;
}
.icon-brand255:before {
  content: "\eb5c";
  color: #ff6b6b;
}
.icon-brand256:before {
  content: "\eb5d";
  color: #c5000b;
}
.icon-brand257:before {
  content: "\eb5e";
  color: #29a8e0;
}
.icon-brand258:before {
  content: "\eb5f";
  color: #3863a0;
}
.icon-brand259:before {
  content: "\eb60";
  color: #ed1c24;
}
.icon-brand260:before {
  content: "\eb61";
  color: #39a85b;
}
.icon-brand261:before {
  content: "\eb62";
  color: #5fcf80;
}
.icon-brand262:before {
  content: "\eb63";
  color: #0079bf;
}
.icon-brand263:before {
  content: "\eb64";
  color: #589442;
}
.icon-brand264:before {
  content: "\eb65";
  color: #53b50a;
}
.icon-brand265:before {
  content: "\eb66";
  color: #36465d;
}
.icon-brand266:before {
  content: "\eb67";
  color: #f22f46;
}
.icon-brand267:before {
  content: "\eb68";
  color: #6441a5;
}
.icon-brand268:before {
  content: "\eb69";
  color: #1da1f2;
}
.icon-brand269:before {
  content: "\eb6a";
  color: #ff7102;
}
.icon-brand270:before {
  content: "\eb6b";
}
.icon-brand271:before {
  content: "\eb6c";
  color: #dd4814;
}
.icon-brand272:before {
  content: "\eb6d";
  color: #01b3e3;
}
.icon-brand273:before {
  content: "\eb6e";
  color: #2396f3;
}
.icon-brand274:before {
  content: "\eb6f";
  color: #6fda44;
}
.icon-brand275:before {
  content: "\eb70";
  color: #f88d2d;
}
.icon-brand276:before {
  content: "\eb71";
  color: #7c529e;
}
.icon-brand277:before {
  content: "\eb72";
  color: #1ab7ea;
}
.icon-brand278:before {
  content: "\eb73";
  color: #11b48a;
}
.icon-brand279:before {
  content: "\eb74";
  color: #0093da;
}
.icon-brand280:before {
  content: "\eb75";
  color: #142787;
}
.icon-brand281:before {
  content: "\eb76";
  color: #6383a8;
}
.icon-brand282:before {
  content: "\eb77";
  color: #4fc08d;
}
.icon-brand283:before {
  content: "\eb78";
  color: #7bb32e;
}
.icon-brand284:before {
  content: "\eb79";
  color: #25d366;
}
.icon-brand285:before {
  content: "\eb7a";
}
.icon-brand286:before {
  content: "\eb7b";
  color: #0078d6;
}
.icon-brand287:before {
  content: "\eb7c";
}
.icon-brand288:before {
  content: "\eb7d";
  color: #ffc233;
}
.icon-brand289:before {
  content: "\eb7e";
  color: #21759b;
}
.icon-brand290:before {
  content: "\eb7f";
  color: #107c10;
}
.icon-brand291:before {
  content: "\eb80";
  color: #13b5ea;
}
.icon-brand292:before {
  content: "\eb81";
  color: #005a5f;
}
.icon-brand293:before {
  content: "\eb82";
  color: #409;
}
.icon-brand294:before {
  content: "\eb83";
  color: #0072c6;
}
.icon-brand295:before {
  content: "\eb84";
  color: #f0652f;
}
.icon-brand296:before {
  content: "\eb85";
  color: #c41200;
}
.icon-brand297:before {
  content: "\eb86";
  color: #cd201f;
}
.icon-brand298:before {
  content: "\eb87";
  color: #ff4a00;
}
.icon-brand299:before {
  content: "\eb88";
}
.icon-brand300:before {
  content: "\eb89";
}
.icon-brand301:before {
  content: "\eb8a";
  color: #0074e4;
}
.icon-brand302:before {
  content: "\eb8b";
  color: #f8c300;
}
.icon-number:before {
  content: "\e900";
}
.icon-number2:before {
  content: "\e901";
}
.icon-number3:before {
  content: "\e902";
}
.icon-number4:before {
  content: "\e903";
}
.icon-number5:before {
  content: "\e904";
}
.icon-number6:before {
  content: "\e905";
}
.icon-number7:before {
  content: "\e906";
}
.icon-number8:before {
  content: "\e907";
}
.icon-number9:before {
  content: "\e908";
}
.icon-number10:before {
  content: "\e909";
}
.icon-number11:before {
  content: "\e90a";
}
.icon-number12:before {
  content: "\e90b";
}
.icon-number13:before {
  content: "\e90c";
}
.icon-number14:before {
  content: "\e90d";
}
.icon-number15:before {
  content: "\e90e";
}
.icon-number16:before {
  content: "\e90f";
}
.icon-number17:before {
  content: "\e910";
}
.icon-number18:before {
  content: "\e911";
}
.icon-number19:before {
  content: "\e912";
}
.icon-number20:before {
  content: "\e913";
}
.icon-quote:before {
  content: "\e914";
}
.icon-quote2:before {
  content: "\e915";
}
.icon-tag:before {
  content: "\e916";
}
.icon-tag2:before {
  content: "\e917";
}
.icon-link:before {
  content: "\e918";
}
.icon-link2:before {
  content: "\e919";
}
.icon-cabinet:before {
  content: "\e91a";
}
.icon-cabinet2:before {
  content: "\e91b";
}
.icon-calendar:before {
  content: "\e91c";
}
.icon-calendar2:before {
  content: "\e91d";
}
.icon-calendar3:before {
  content: "\e91e";
}
.icon-file:before {
  content: "\e91f";
}
.icon-file2:before {
  content: "\e920";
}
.icon-file3:before {
  content: "\e921";
}
.icon-files:before {
  content: "\e922";
}
.icon-phone:before {
  content: "\e923";
}
.icon-tablet:before {
  content: "\e924";
}
.icon-window:before {
  content: "\e925";
}
.icon-monitor:before {
  content: "\e926";
}
.icon-ipod:before {
  content: "\e927";
}
.icon-tv:before {
  content: "\e928";
}
.icon-camera:before {
  content: "\e929";
}
.icon-camera2:before {
  content: "\e92a";
}
.icon-camera3:before {
  content: "\e92b";
}
.icon-film:before {
  content: "\e92c";
}
.icon-film2:before {
  content: "\e92d";
}
.icon-film3:before {
  content: "\e92e";
}
.icon-microphone:before {
  content: "\e92f";
}
.icon-microphone2:before {
  content: "\e930";
}
.icon-microphone3:before {
  content: "\e931";
}
.icon-drink:before {
  content: "\e932";
}
.icon-drink2:before {
  content: "\e933";
}
.icon-drink3:before {
  content: "\e934";
}
.icon-drink4:before {
  content: "\e935";
}
.icon-coffee:before {
  content: "\e936";
}
.icon-mug:before {
  content: "\e937";
}
.icon-icecream:before {
  content: "\e938";
}
.icon-cake:before {
  content: "\e939";
}
.icon-inbox:before {
  content: "\e93a";
}
.icon-download:before {
  content: "\e93b";
}
.icon-upload:before {
  content: "\e93c";
}
.icon-inbox2:before {
  content: "\e93d";
}
.icon-checkmark:before {
  content: "\e93e";
}
.icon-checkmark2:before {
  content: "\e93f";
}
.icon-cancel:before {
  content: "\e940";
}
.icon-cancel2:before {
  content: "\e941";
}
.icon-plus:before {
  content: "\e942";
}
.icon-plus2:before {
  content: "\e943";
}
.icon-minus:before {
  content: "\e944";
}
.icon-minus2:before {
  content: "\e945";
}
.icon-notice:before {
  content: "\e946";
}
.icon-notice2:before {
  content: "\e947";
}
.icon-cog:before {
  content: "\e948";
}
.icon-cogs:before {
  content: "\e949";
}
.icon-cog2:before {
  content: "\e94a";
}
.icon-warning:before {
  content: "\e94b";
}
.icon-health:before {
  content: "\e94c";
}
.icon-suitcase:before {
  content: "\e94d";
}
.icon-suitcase2:before {
  content: "\e94e";
}
.icon-suitcase3:before {
  content: "\e94f";
}
.icon-picture:before {
  content: "\e950";
}
.icon-pictures:before {
  content: "\e951";
}
.icon-pictures2:before {
  content: "\e952";
}
.icon-android:before {
  content: "\e953";
}
.icon-marvin:before {
  content: "\e954";
}
.icon-pacman:before {
  content: "\e955";
}
.icon-cassette:before {
  content: "\e956";
}
.icon-watch:before {
  content: "\e957";
}
.icon-chronometer:before {
  content: "\e958";
}
.icon-watch2:before {
  content: "\e959";
}
.icon-alarmclock:before {
  content: "\e95a";
}
.icon-time:before {
  content: "\e95b";
}
.icon-time2:before {
  content: "\e95c";
}
.icon-headphones:before {
  content: "\e95d";
}
.icon-wallet:before {
  content: "\e95e";
}
.icon-checkmark3:before {
  content: "\e95f";
}
.icon-cancel3:before {
  content: "\e960";
}
.icon-eye:before {
  content: "\e961";
}
.icon-position:before {
  content: "\e962";
}
.icon-sitemap:before {
  content: "\e963";
}
.icon-sitemap2:before {
  content: "\e964";
}
.icon-cloud:before {
  content: "\e965";
}
.icon-upload2:before {
  content: "\e966";
}
.icon-chart:before {
  content: "\e967";
}
.icon-chart2:before {
  content: "\e968";
}
.icon-chart3:before {
  content: "\e969";
}
.icon-chart4:before {
  content: "\e96a";
}
.icon-chart5:before {
  content: "\e96b";
}
.icon-chart6:before {
  content: "\e96c";
}
.icon-location:before {
  content: "\e96d";
}
.icon-download2:before {
  content: "\e96e";
}
.icon-basket:before {
  content: "\e96f";
}
.icon-folder:before {
  content: "\e970";
}
.icon-gamepad:before {
  content: "\e971";
}
.icon-alarm:before {
  content: "\e972";
}
.icon-alarm-cancel:before {
  content: "\e973";
}
.icon-phone2:before {
  content: "\e974";
}
.icon-phone3:before {
  content: "\e975";
}
.icon-image:before {
  content: "\e976";
}
.icon-open:before {
  content: "\e977";
}
.icon-sale:before {
  content: "\e978";
}
.icon-direction:before {
  content: "\e979";
}
.icon-map:before {
  content: "\e97a";
}
.icon-trashcan:before {
  content: "\e97b";
}
.icon-vote:before {
  content: "\e97c";
}
.icon-graduate:before {
  content: "\e97d";
}
.icon-lab:before {
  content: "\e97e";
}
.icon-tie:before {
  content: "\e97f";
}
.icon-football:before {
  content: "\e980";
}
.icon-eightball:before {
  content: "\e981";
}
.icon-bowling:before {
  content: "\e982";
}
.icon-bowlingpin:before {
  content: "\e983";
}
.icon-baseball:before {
  content: "\e984";
}
.icon-soccer:before {
  content: "\e985";
}
.icon-3dglasses:before {
  content: "\e986";
}
.icon-microwave:before {
  content: "\e987";
}
.icon-refrigerator:before {
  content: "\e988";
}
.icon-oven:before {
  content: "\e989";
}
.icon-washingmachine:before {
  content: "\e98a";
}
.icon-mouse:before {
  content: "\e98b";
}
.icon-smiley:before {
  content: "\e98c";
}
.icon-sad:before {
  content: "\e98d";
}
.icon-mute:before {
  content: "\e98e";
}
.icon-hand:before {
  content: "\e98f";
}
.icon-radio:before {
  content: "\e990";
}
.icon-satellite:before {
  content: "\e991";
}
.icon-medal:before {
  content: "\e992";
}
.icon-medal2:before {
  content: "\e993";
}
.icon-switch:before {
  content: "\e994";
}
.icon-key:before {
  content: "\e995";
}
.icon-cord:before {
  content: "\e996";
}
.icon-locked:before {
  content: "\e997";
}
.icon-unlocked:before {
  content: "\e998";
}
.icon-locked2:before {
  content: "\e999";
}
.icon-unlocked2:before {
  content: "\e99a";
}
.icon-magnifier:before {
  content: "\e99b";
}
.icon-zoomin:before {
  content: "\e99c";
}
.icon-zoomout:before {
  content: "\e99d";
}
.icon-stack:before {
  content: "\e99e";
}
.icon-stack2:before {
  content: "\e99f";
}
.icon-stack3:before {
  content: "\e9a0";
}
.icon-davidstar:before {
  content: "\e9a1";
}
.icon-cross:before {
  content: "\e9a2";
}
.icon-moonandstar:before {
  content: "\e9a3";
}
.icon-transformers:before {
  content: "\e9a4";
}
.icon-batman:before {
  content: "\e9a5";
}
.icon-spaceinvaders:before {
  content: "\e9a6";
}
.icon-skeletor:before {
  content: "\e9a7";
}
.icon-lamp:before {
  content: "\e9a8";
}
.icon-lamp2:before {
  content: "\e9a9";
}
.icon-umbrella:before {
  content: "\e9aa";
}
.icon-streetlight:before {
  content: "\e9ab";
}
.icon-bomb:before {
  content: "\e9ac";
}
.icon-archive:before {
  content: "\e9ad";
}
.icon-battery:before {
  content: "\e9ae";
}
.icon-battery2:before {
  content: "\e9af";
}
.icon-battery3:before {
  content: "\e9b0";
}
.icon-battery4:before {
  content: "\e9b1";
}
.icon-battery5:before {
  content: "\e9b2";
}
.icon-megaphone:before {
  content: "\e9b3";
}
.icon-megaphone2:before {
  content: "\e9b4";
}
.icon-patch:before {
  content: "\e9b5";
}
.icon-pil:before {
  content: "\e9b6";
}
.icon-injection:before {
  content: "\e9b7";
}
.icon-thermometer:before {
  content: "\e9b8";
}
.icon-lamp3:before {
  content: "\e9b9";
}
.icon-lamp4:before {
  content: "\e9ba";
}
.icon-lamp5:before {
  content: "\e9bb";
}
.icon-cube:before {
  content: "\e9bc";
}
.icon-box:before {
  content: "\e9bd";
}
.icon-box2:before {
  content: "\e9be";
}
.icon-diamond:before {
  content: "\e9bf";
}
.icon-bag:before {
  content: "\e9c0";
}
.icon-moneybag:before {
  content: "\e9c1";
}
.icon-grid:before {
  content: "\e9c2";
}
.icon-grid2:before {
  content: "\e9c3";
}
.icon-list:before {
  content: "\e9c4";
}
.icon-list2:before {
  content: "\e9c5";
}
.icon-ruler:before {
  content: "\e9c6";
}
.icon-ruler2:before {
  content: "\e9c7";
}
.icon-layout:before {
  content: "\e9c8";
}
.icon-layout2:before {
  content: "\e9c9";
}
.icon-layout3:before {
  content: "\e9ca";
}
.icon-layout4:before {
  content: "\e9cb";
}
.icon-layout5:before {
  content: "\e9cc";
}
.icon-layout6:before {
  content: "\e9cd";
}
.icon-layout7:before {
  content: "\e9ce";
}
.icon-layout8:before {
  content: "\e9cf";
}
.icon-layout9:before {
  content: "\e9d0";
}
.icon-layout10:before {
  content: "\e9d1";
}
.icon-layout11:before {
  content: "\e9d2";
}
.icon-layout12:before {
  content: "\e9d3";
}
.icon-layout13:before {
  content: "\e9d4";
}
.icon-layout14:before {
  content: "\e9d5";
}
.icon-tools:before {
  content: "\e9d6";
}
.icon-screwdriver:before {
  content: "\e9d7";
}
.icon-paint:before {
  content: "\e9d8";
}
.icon-hammer:before {
  content: "\e9d9";
}
.icon-brush:before {
  content: "\e9da";
}
.icon-pen:before {
  content: "\e9db";
}
.icon-chat:before {
  content: "\e9dc";
}
.icon-comments:before {
  content: "\e9dd";
}
.icon-chat2:before {
  content: "\e9de";
}
.icon-chat3:before {
  content: "\e9df";
}
.icon-volume:before {
  content: "\e9e0";
}
.icon-volume2:before {
  content: "\e9e1";
}
.icon-volume3:before {
  content: "\e9e2";
}
.icon-equalizer:before {
  content: "\e9e3";
}
.icon-resize:before {
  content: "\e9e4";
}
.icon-resize2:before {
  content: "\e9e5";
}
.icon-stretch:before {
  content: "\e9e6";
}
.icon-narrow:before {
  content: "\e9e7";
}
.icon-resize3:before {
  content: "\e9e8";
}
.icon-download3:before {
  content: "\e9e9";
}
.icon-calculator:before {
  content: "\e9ea";
}
.icon-library:before {
  content: "\e9eb";
}
.icon-auction:before {
  content: "\e9ec";
}
.icon-justice:before {
  content: "\e9ed";
}
.icon-stats:before {
  content: "\e9ee";
}
.icon-stats2:before {
  content: "\e9ef";
}
.icon-attachment:before {
  content: "\e9f0";
}
.icon-hourglass:before {
  content: "\e9f1";
}
.icon-abacus:before {
  content: "\e9f2";
}
.icon-pencil:before {
  content: "\e9f3";
}
.icon-pen2:before {
  content: "\e9f4";
}
.icon-pin:before {
  content: "\e9f5";
}
.icon-pin2:before {
  content: "\e9f6";
}
.icon-discout:before {
  content: "\e9f7";
}
.icon-edit:before {
  content: "\e9f8";
}
.icon-scissors:before {
  content: "\e9f9";
}
.icon-profile:before {
  content: "\e9fa";
}
.icon-profile2:before {
  content: "\e9fb";
}
.icon-profile3:before {
  content: "\e9fc";
}
.icon-rotate:before {
  content: "\e9fd";
}
.icon-rotate2:before {
  content: "\e9fe";
}
.icon-reply:before {
  content: "\e9ff";
}
.icon-forward:before {
  content: "\ea00";
}
.icon-retweet:before {
  content: "\ea01";
}
.icon-shuffle:before {
  content: "\ea02";
}
.icon-loop:before {
  content: "\ea03";
}
.icon-crop:before {
  content: "\ea04";
}
.icon-square:before {
  content: "\ea05";
}
.icon-square2:before {
  content: "\ea06";
}
.icon-circle:before {
  content: "\ea07";
}
.icon-dollar:before {
  content: "\ea08";
}
.icon-dollar2:before {
  content: "\ea09";
}
.icon-coins:before {
  content: "\ea0a";
}
.icon-pig:before {
  content: "\ea0b";
}
.icon-bookmark:before {
  content: "\ea0c";
}
.icon-bookmark2:before {
  content: "\ea0d";
}
.icon-addressbook:before {
  content: "\ea0e";
}
.icon-addressbook2:before {
  content: "\ea0f";
}
.icon-safe:before {
  content: "\ea10";
}
.icon-envelope:before {
  content: "\ea11";
}
.icon-envelope2:before {
  content: "\ea12";
}
.icon-radioactive:before {
  content: "\ea13";
}
.icon-music:before {
  content: "\ea14";
}
.icon-presentation:before {
  content: "\ea15";
}
.icon-male:before {
  content: "\ea16";
}
.icon-female:before {
  content: "\ea17";
}
.icon-aids:before {
  content: "\ea18";
}
.icon-heart:before {
  content: "\ea19";
}
.icon-info:before {
  content: "\ea1a";
}
.icon-info2:before {
  content: "\ea1b";
}
.icon-piano:before {
  content: "\ea1c";
}
.icon-rain:before {
  content: "\ea1d";
}
.icon-snow:before {
  content: "\ea1e";
}
.icon-lightning:before {
  content: "\ea1f";
}
.icon-sun:before {
  content: "\ea20";
}
.icon-moon:before {
  content: "\ea21";
}
.icon-cloudy:before {
  content: "\ea22";
}
.icon-cloudy2:before {
  content: "\ea23";
}
.icon-car:before {
  content: "\ea24";
}
.icon-bike:before {
  content: "\ea25";
}
.icon-truck:before {
  content: "\ea26";
}
.icon-bus:before {
  content: "\ea27";
}
.icon-bike2:before {
  content: "\ea28";
}
.icon-plane:before {
  content: "\ea29";
}
.icon-paperplane:before {
  content: "\ea2a";
}
.icon-rocket:before {
  content: "\ea2b";
}
.icon-book:before {
  content: "\ea2c";
}
.icon-book2:before {
  content: "\ea2d";
}
.icon-barcode:before {
  content: "\ea2e";
}
.icon-barcode2:before {
  content: "\ea2f";
}
.icon-expand:before {
  content: "\ea30";
}
.icon-collapse:before {
  content: "\ea31";
}
.icon-popout:before {
  content: "\ea32";
}
.icon-popin:before {
  content: "\ea33";
}
.icon-target:before {
  content: "\ea34";
}
.icon-badge:before {
  content: "\ea35";
}
.icon-badge2:before {
  content: "\ea36";
}
.icon-ticket:before {
  content: "\ea37";
}
.icon-ticket2:before {
  content: "\ea38";
}
.icon-ticket3:before {
  content: "\ea39";
}
.icon-microphone4:before {
  content: "\ea3a";
}
.icon-cone:before {
  content: "\ea3b";
}
.icon-blocked:before {
  content: "\ea3c";
}
.icon-stop:before {
  content: "\ea3d";
}
.icon-keyboard:before {
  content: "\ea3e";
}
.icon-keyboard2:before {
  content: "\ea3f";
}
.icon-radio2:before {
  content: "\ea40";
}
.icon-printer:before {
  content: "\ea41";
}
.icon-checked:before {
  content: "\ea42";
}
.icon-error:before {
  content: "\ea43";
}
.icon-add:before {
  content: "\ea44";
}
.icon-minus3:before {
  content: "\ea45";
}
.icon-alert:before {
  content: "\ea46";
}
.icon-pictures3:before {
  content: "\ea47";
}
.icon-atom:before {
  content: "\ea48";
}
.icon-eyedropper:before {
  content: "\ea49";
}
.icon-globe:before {
  content: "\ea4a";
}
.icon-globe2:before {
  content: "\ea4b";
}
.icon-shipping:before {
  content: "\ea4c";
}
.icon-yingyang:before {
  content: "\ea4d";
}
.icon-compass:before {
  content: "\ea4e";
}
.icon-zip:before {
  content: "\ea4f";
}
.icon-zip2:before {
  content: "\ea50";
}
.icon-anchor:before {
  content: "\ea51";
}
.icon-lockedheart:before {
  content: "\ea52";
}
.icon-magnet:before {
  content: "\ea53";
}
.icon-navigation:before {
  content: "\ea54";
}
.icon-tags:before {
  content: "\ea55";
}
.icon-heart2:before {
  content: "\ea56";
}
.icon-heart3:before {
  content: "\ea57";
}
.icon-usb:before {
  content: "\ea58";
}
.icon-clipboard:before {
  content: "\ea59";
}
.icon-clipboard2:before {
  content: "\ea5a";
}
.icon-clipboard3:before {
  content: "\ea5b";
}
.icon-switch2:before {
  content: "\ea5c";
}
.icon-ruler3:before {
  content: "\ea5d";
}
